@import "components/_fonts";
@import "components/_buttons";
@import "components/_wp-classes";
@import "components/_flex";

h1, h2, h3, h4, h5, h6{
    font-family:@headings-font-family;
}

p {
    margin-bottom: 30px;
        span.lead {
            font-size:1.1em;
            color:@bg-brown-dark;
            font-weight:700;
        }
        &:last-of-type {
            margin-bottom: 0px;
        }
}

a {
    color:inherit;
    text-decoration:none;
        .active, &:hover {
            color: @white;
        }
}

ul {
    list-style: disc inside none;
        ul {
            list-style: circle inside none;
            margin-left: 16px;
        }
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
        .page-content &:last-of-type {
            padding-right: 0;
        }
}

.col-1-1{
    width:100%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}
.col-1-4 {
    width: 25%;
}
.col-1-8 {
    width: 12.5%;
}

img {
    max-width:100%;
    height:auto;
}

.img-responsive, .img-responsive img {
    width:100%;
    height:auto;
}

.caption {
    font-size:0.8em;
    text-align:right;
    display:none;
        &:hover {
            display:block;
        }
}

.gallery{
    margin-top:16px;
    .display(flex);
    .flex-wrap(wrap);
}

.gallery .image {
    width: 300px;
        h2 {
            font-size: 1em;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px 20px;
        }
}

/* ==========================================================================
Media Queries
========================================================================== */
// Extra small screen / phone
@screen-xs:                  480px;
// Small screen / tablet
@screen-sm:                  760px;
// Medium screen / desktop
@screen-md:                  992px;
// Large screen / wide desktop
@screen-lg:                  1200px;

@media (min-width: @screen-xs){
}
@media (min-width: @screen-sm){
}
