//Colors
@grey: #555;
@white: #fff;
@black: #000;
@hero-gradient: linear-gradient(to right, #185662 0%,#406C47 25%,#6E9058 50%,#516324 75%,#384328 100%);
@bg-green-dark: #3e473f;
@bg-green-light: lighten(@bg-green-dark, 10);
@bg-brown-dark: #423b30;
@bg-brown-light: lighten(@bg-brown-dark, 10);
@pale-green: #e9f8e9;

@beara:#1a2426;
@beara_highlight:#8BADCF;

//Backgrounds
@site_background_image: url(../img/kenmare-bg-1.jpg);
@main_background_pattern: url(../img/tile-bouquet.jpg);

.bg-green-dark {
	background:@bg-green-dark;
	background:radial-gradient(ellipse at top left, lighten(@bg-green-dark, 16) 0%, @bg-green-dark 57%);
}
.bg-pattern {
	background-image: @main_background_pattern;
}

//Fonts
@site-title-font-family: 'Great Vibes', cursive;
@headings-font-family:  'Quicksand', sans-serif;
@body-font-family: 'Quattrocento Sans', sans-serif;
@line-height-computed: 2.2;
@body-font: 14px / 1.2 @body-font-family;

//Layout
@body-max-width: 860px;
@proper-padding: 16px;
@proper-padding-2x: 46px;
