@import "_variables"; //Start editing here.  If its simple changes you're after, here are the widths, paddings, fonts, line heights etc, that are used throughout the site.

html {
    background: #000 @site_background_image no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        @media (max-width: @screen-xs){
            background:#fff;
        }
} //As much as possible, we try to close off elements right away (subrules are avoided).

@import "components/_reset"; // Add Box Sizing and Apply Eric Meyer's Reset
@import "_globals"; //We try and keep most things inline as they're used.  If not, they go in this partial.  Block elements like img, p, a, buttons, fonts etc.
//fonts
//buttons
//flex-box mixins

body{
    font: @body-font;
    max-width: @body-max-width;
    margin:0 auto;
    min-height:100%;
    padding-top: @proper-padding-2x;
}

//Sections are the Building Blocks of the app...
.section {
    display:block;
    margin:0 auto;
    width:100%;
        &:after{
            content:"";
            display:table;
            clear:both;
        }
}

.feature {
    padding: 16px 32px;
    .bg-pattern;
}

@import "templates/_header";

.main-content {
    width:100%;
    .bg-pattern;
}

@import "components/_breadcrumbs";
@import "templates/_front-page";

@import "templates/_page-header";
@import "templates/_page-content";
@import "components/_cards";

@import "templates/_404";

//----} .main-content

@import "templates/_footer";


//----} body

//----} html

@import "templates/_hacks";