.bg-green-dark {
  background: #3e473f;
  background: -webkit-radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  background: -o-radial-gradient(top left, ellipse, #647366 0%, #3e473f 57%);
  background: radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
}
.bg-pattern {
  background-image: url(../img/tile-bouquet.jpg);
}
html {
  background: #000000 url(../img/kenmare-bg-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  html {
    background: #fff;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/greatvibes-regular-webfont.woff') format('woff'), url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'), url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url('../fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quattrocentosans-regular-webfont.woff') format('woff'), url('../fonts/quattrocentosans-regular-webfont.ttf') format('truetype'), url('../fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quicksand-regular-webfont.woff') format('woff'), url('../fonts/quicksand-regular-webfont.ttf') format('truetype'), url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quicksand-bold-webfont.woff') format('woff'), url('../fonts/quicksand-bold-webfont.ttf') format('truetype'), url('../fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
}
@font-face {
  font-family: 'townscape-iconic';
  src: url('../fonts/townscape-iconic.eot') format('embedded-opentype'), url('../fonts/townscape-iconic.woff') format('woff'), url('../fonts/townscape-iconic.ttf') format('truetype'), url('../fonts/townscape-iconic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'townscape-iconic';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.6px;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span.icon-accessibility:before,
.icon-accessibility a:before {
  content: "\e614";
}
span.icon-accommodation:before,
.icon-accommodation a:before {
  content: "\e609";
}
span.icon-map:before,
.icon-map a:before {
  content: "\e60a";
}
span.icon-creative:before,
.icon-creative a:before {
  content: "\e60b";
}
span.icon-repairs:before,
.icon-repairs a:before {
  content: "\e60c";
}
span.icon-wellness:before,
.icon-wellness a:before {
  content: "\e60d";
}
span.icon-property:before,
.icon-property a:before {
  content: "\e60e";
}
span.icon-taxis:before,
.icon-taxis a:before {
  content: "\e60f";
}
span.icon-attractions:before,
.icon-attractions a:before {
  content: "\e610";
}
span.icon-health:before,
.icon-health a:before {
  content: "\e611";
}
span.icon-information:before,
.icon-information a:before {
  content: "\e612";
}
span.icon-activity:before,
.icon-activity a:before {
  content: "\e606";
}
span.icon-hotel:before,
.icon-hotel a:before {
  content: "\e607";
}
span.icon-dining:before,
.icon-dining a:before {
  content: "\e600";
}
span.icon-shopping:before,
.icon-shopping a:before {
  content: "\e603";
}
span.icon-home:before,
.icon-home a:before {
  content: "\e604";
}
span.icon-images:before,
.icon-images a:before {
  content: "\e613";
}
span.icon-wifi:before,
.icon-wifi a:before {
  content: "\e615";
}
span.icon-price:before,
.icon-price a:before {
  content: "\e616";
}
span.icon-credit:before,
.icon-credit a:before {
  content: "\e617";
}
span.icon-phone:before,
.icon-phone a:before {
  content: "\e618";
}
span.icon-email:before,
.icon-email a:before {
  content: "\e619";
}
span.icon-location:before,
.icon-location a:before {
  content: "\e61a";
}
span.icon-search:before,
.icon-search a:before {
  content: "\e605";
}
span.icon-earth:before,
.icon-earth a:before {
  content: "\e602";
}
span.icon-link:before,
.icon-link a:before {
  content: "\e601";
}
span.icon-discover:before,
.icon-discover a:before {
  content: "\e608";
}
span.icon-arrow-right:before,
.icon-arrow-right a:before {
  content: "\e61c";
}
span.icon-arrow-left:before,
.icon-arrow-left a:before {
  content: "\e61d";
}
span.icon-facebook:before,
.icon-facebook a:before {
  content: "\e61b";
}
span.icon-twitter:before,
.icon-twitter a:before {
  content: "\e61f";
}
span.icon-googleplus:before,
.icon-googleplus a:before {
  content: "\e61e";
}
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  margin: 0;
  width: 100%;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}
.btn-1 {
  color: #fff;
}
.btn-1a:hover,
.btn-1a:active {
  color: #FFFFFF;
  background: #6A9161;
}
.btn-tile {
  background: #423b30;
  border: 4px solid #e9f8e9;
  line-height: 2.2em;
}
.primary-button {
  font-family: "Quattrocento Sans";
  display: inline-block;
  background: #606f61;
  color: white;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 16px 60px 16px 100px;
  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  text-align: center;
  position: relative;
  margin-bottom: 14px;
}
.primary-button:hover {
  background: #4b564b;
}
.primary-button:before {
  background: #3e473e;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 2;
  font-size: 140%;
  width: 60px;
  font-family: "townscape-iconic";
  content: "\e602";
}
.primary-button.booking-button {
  background: #04367b;
}
.primary-button.booking-button:hover {
  background: #02204a;
}
.primary-button.booking-button:before {
  background: #06a0dd;
}
.mini .primary-button {
  padding: 16px 18px 16px 72px;
  font-size: 15px;
}
.mini .primary-button:before {
  line-height: 3;
  font-size: 100%;
  width: 40px;
  content: "\e61c";
}
.aligncenter {
  display: block;
  margin: 1.1 auto;
}
.alignleft,
.alignright {
  margin-bottom: 1.1;
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
@media (min-width: 480px) {
  .alignleft {
    float: left;
    margin-right: 2.2em;
  }
  .alignright {
    float: right;
    margin-left: 2.2em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
}
p {
  margin-bottom: 30px;
}
p span.lead {
  font-size: 1.1em;
  color: #423b30;
  font-weight: 700;
}
p:last-of-type {
  margin-bottom: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
a .active,
a:hover {
  color: #ffffff;
}
ul {
  list-style: disc inside none;
}
ul ul {
  list-style: circle inside none;
  margin-left: 16px;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.page-content [class*='col-']:last-of-type {
  padding-right: 0;
}
.col-1-1 {
  width: 100%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
img {
  max-width: 100%;
  height: auto;
}
.img-responsive,
.img-responsive img {
  width: 100%;
  height: auto;
}
.caption {
  font-size: 0.8em;
  text-align: right;
  display: none;
}
.caption:hover {
  display: block;
}
.gallery {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery .image {
  width: 300px;
}
.gallery .image h2 {
  font-size: 1em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 20px;
}
/* ==========================================================================
Media Queries
========================================================================== */
body {
  font: 14px / 1.2 'Quattrocento Sans', sans-serif;
  max-width: 860px;
  margin: 0 auto;
  min-height: 100%;
  padding-top: 46px;
}
.section {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.section:after {
  content: "";
  display: table;
  clear: both;
}
.feature {
  padding: 16px 32px;
  background-image: url(../img/tile-bouquet.jpg);
}
.section.site-header {
  background: #3e473f;
  background: -webkit-radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  background: -o-radial-gradient(top left, ellipse, #647366 0%, #3e473f 57%);
  background: radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  color: #bec6bf;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 10px 18px;
}
@media (max-width: 480px) {
  .section.site-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.site-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.site-logo img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  line-height: 1.2em;
}
a.brand {
  color: #d9deda;
}
a.brand span {
  font-size: 60%;
  color: #879789;
}
nav.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
nav.nav-main a {
  padding: 0 10px;
}
@media (max-width: 480px) {
  nav.nav-main {
    width: 65%;
  }
}
/* first level menu items */
.main-menu > li {
  display: inline-block;
  position: relative;
}
/* sumbenu with transitions */
.main-submenu {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  text-align: left;
  pointer-events: none;
  -webkit-transition: visibility 0s, opacity 0s;
  -o-transition: visibility 0s, opacity 0s;
     transition: visibility 0s, opacity 0s;
}
.menu-show .main-submenu {
  width: 16em;
  left: 50%;
  margin: 0 0 0 -8em;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -o-transition: visibility 0s, opacity 0.3s;
     transition: visibility 0s, opacity 0.3s;
}
.menu-show-below .main-submenu {
  top: 100%;
  padding-top: 10px;
}
/* extreme cases: not enough space on the sides */
.menu-nospace-right .main-submenu {
  right: 0;
  left: auto;
}
.menu-nospace-left .main-submenu {
  left: 0;
}
/* last menu item has to fit on the screen */
.main-menu > li:last-child .main-submenu {
  right: 0;
}
/*
arrow: depending on where the menu will be shown, we set
the right position for the arrow
*/
.main-submenu:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.menu-show-below .main-submenu:after {
  bottom: 100%;
  margin-bottom: -10px;
}
.main-submenu:after {
  border-color: transparent;
  border-width: 16px;
  margin-left: -16px;
  left: 50%;
}
.menu-show-below .main-submenu:after {
  border-bottom-color: #688373;
}
.main-submenu > li {
  display: block;
  background: #688373;
}
.main-submenu > li.search {
  padding: 5px 2.3em 5px 0.6em;
}
.main-submenu > li > a {
  padding: 5px 2.3em 5px 0.6em;
  /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
  display: block;
  position: relative;
  color: #fff;
  border: 4px solid #688373;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
     transition: all 0.2s;
}
.main-submenu > li > a:hover,
.main-submenu > li > a:active {
  background: #5B6B5E;
}
/* the icons (main level menu icon and sublevel icons) */
.main-submenu li a:before,
.main-menu > li > a:before {
  font-family: 'townscape-iconic';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin-right: 0.6em;
  -webkit-font-smoothing: antialiased;
}
.main-submenu li a:before {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 0.5em;
}
.main-menu > li > a:not(:only-child):before {
  content: "\f0c9";
  font-size: 60%;
  opacity: 0.3;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox] {
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #main-menu {
  display: block;
}
/* Media Queries */
@media screen and (max-width: 55.6875em) {
  .main-menu {
    font-size: 80%;
  }
}
@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {
  .main-menu {
    font-size: 100%;
    position: relative;
    text-align: center;
    padding: 0;
    top: auto;
    display: none;
  }
  .main-menu > li {
    display: block;
    margin: 0;
    border-bottom: 4px solid #5B6B5E;
  }
  .main-menu > li:first-child {
    border-top: 4px solid #5B6B5E;
  }
  li.menu-show > a,
  .no-touch .main-menu > li > a:hover,
  .no-touch .main-menu > li > a:active {
    color: #fff;
    background: #5B6B5E;
  }
  .main-submenu {
    position: relative;
    display: none;
    width: 100%;
  }
  .main-submenu > li {
    padding: 0;
  }
  .main-submenu > li > a {
    padding: 0.6em 2.3em 0.6em 0.6em;
    border: none;
    border-bottom: 2px solid #5B6B5E;
  }
  .main-submenu:after {
    display: none;
  }
  .main-menu .menu-show .main-submenu {
    display: block;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display: block;
  }
}
.section.search {
  display: none;
  z-index: 9999;
  height: 0px;
}
.main-content {
  width: 100%;
  background-image: url(../img/tile-bouquet.jpg);
}
.section.breadcrumbs {
  line-height: 2.5em;
  padding: 0 46px;
  background: #566257;
  color: #a3aea4;
}
.section.breadcrumbs .active {
  color: #d9deda;
}
.section.breadcrumbs a:hover {
  color: #ffffff;
}
.caption {
  position: relative;
  line-height: 1em;
  top: -2em;
  padding-right: 10px;
  text-align: right;
  text-shadow: 2.5px 3px 4px #000000;
}
figure {
  margin-bottom: 32px;
}
@media (max-width: 480px) {
  figure {
    display: none;
  }
}
.fancy {
  border-bottom: 5px solid #423b30;
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: right;
}
@media (max-width: 480px) {
  .fancy {
    display: block;
    text-align: center;
  }
}
.fancy h2 {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  padding-top: 10px;
  font-size: 2.5em;
  line-height: 0.6em;
}
.fancy h2 span {
  font-size: 0.7em;
}
.fancy h1 {
  font-size: 5em;
  padding: 0 16px;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
}
.fancy h3 {
  font-size: 1.5em;
}
.fancy h3 span {
  font-size: 1.3em;
}
.home .page-content {
  font-size: 1.4em;
  line-height: 1.6em;
}
.section-title {
  background-image: url(../img/tile-bouquet.jpg);
  font-size: 2.5em;
  text-align: center;
  padding: 32px 0;
  color: #423b30;
  border-top: 2px solid;
}
.section-title h2 {
  background: #e9f8e9;
  padding: 32px;
  margin: 0 32px;
}
.section.tiles {
  background-image: url(../img/tile-bouquet.jpg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.tile {
  position: relative;
  cursor: pointer;
  margin: 16px;
  width: 216px;
  text-align: center;
  color: #e9f8e9;
  background: #566257;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.tile h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  padding-top: 16px;
}
.tile span {
  font-size: 8em;
}
.tile p {
  font-size: 1em;
  padding: 8px 0;
}
.section.featured-listings {
  background: #3e473f;
  background: -webkit-radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  background: -o-radial-gradient(top left, ellipse, #647366 0%, #3e473f 57%);
  background: radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  padding: 32px 0;
}
.section.featured-listings .card.mini {
  margin: 9px;
  width: 150px;
}
.section.featured-listings .card.mini .title {
  font-size: 14px;
  padding: 5px 4px;
  text-align: center;
}
.section.featured-listings .card.mini .subtitle {
  display: none;
}
.section.featured-listings h3 {
  color: white;
  width: 100%;
  padding: 0 9px;
}
.map-big.section {
  background-image: url(../img/tile-bouquet.jpg);
  padding: 32px;
}
.page-header.section {
  background: rgba(113, 133, 115, 0.6);
  color: #ffffff;
  padding: 32px;
}
.page-title {
  font-weight: 300;
  font-size: 3em;
  line-height: 0.9em;
}
.page-subtitle {
  margin-top: 16px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 0.9em;
}
.page-description {
  background: #718573;
  padding: 16px;
  margin-top: 16px;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.6em;
}
.page-description p {
  margin-bottom: 30px;
}
.page-description p:last-child {
  margin-bottom: 0;
}
.sorting.section {
  color: #ffffff;
  line-height: 2em;
  background: #6e7d6f;
  padding: 10px;
}
.sorting.section h4 {
  background: #566257;
  padding-left: 16px;
}
.page-content {
  margin-bottom: 16px;
  font-family: 'Quattrocento Sans', sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.6em;
}
.card {
  background-color: #e9f8e9;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
  line-height: 1.6em;
  position: relative;
}
.card .page-text {
  background: none;
  color: black;
  padding: 32px 32px 0 32px;
}
.card .page-title {
  font-size: 1em;
}
.card .page-description {
  background: #daebdc;
  color: black;
  margin-bottom: 16px;
}
.card .page-header.section {
  background: none;
  color: #000000;
  padding: 32px;
}
.card a:hover {
  color: #89A88B;
}
.card .beara-link {
  max-width: 250px;
  text-align: center;
  position: absolute;
  top: -6px;
  left: -6px;
  -webkit-box-shadow: 3px 2px 6px grey;
          box-shadow: 3px 2px 6px grey;
}
.card .beara-link a {
  color: white;
  background-color: #8badcf;
  padding: 20px;
  display: block;
}
.card .beara-link a:hover {
  background-color: #9dbad6;
}
.listings.section {
  background-image: url(../img/tile-bouquet.jpg);
}
@media (min-width: 480px) {
  .listings.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: mulitple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.listings .card {
  background-color: white;
}
.card-name {
  font-size: 18px;
}
.card-name h2 {
  font-size: 2em;
}
article h2 {
  font-weight: 400;
  font-size: 3em;
  line-height: 1.2em;
}
.card .page-content {
  padding: 42px 30px 0px 30px;
  width: 100%;
  display: inline-block;
}
@media (min-width: 480px) {
  .page-content .right-half {
    width: 48%;
    padding-left: 2%;
    float: right;
  }
}
@media (min-width: 480px) {
  .page-content .left-half {
    width: 48%;
    padding-right: 2%;
    float: left;
  }
}
.page-content .long-description {
  border-top: 3px solid #ccc;
  padding-top: 16px;
  clear: both;
}
.page-content .right-half img {
  width: 100%;
  height: auto;
}
.card-name .subtitle,
.card-name .description {
  padding: 0 16px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  color: #423b30;
  line-height: 1;
  border-bottom: 3px solid #ccc;
  border-top: 3px solid #ccc;
  padding: 16px;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 24px;
  line-height: 1;
  color: #333;
  float: left;
  width: 74%;
  margin-bottom: 10px;
}
.wifi,
.accessibility {
  float: left;
  width: 13%;
}
.description {
  font-size: 16px;
  color: #333;
  line-height: 1.375;
  margin-bottom: 18px;
  clear: both;
}
.card-links i {
  padding-left: 22px;
  padding-right: 20px;
  font-size: 18px;
}
.card-links .link {
  font-size: 15px;
  font-family: "Quattrocento Sans";
  color: #333333;
  line-height: 2.372;
}
.card-links .phone,
.card-links .email {
  font-size: 18px;
  color: #333333;
  line-height: 1.976;
}
.card-links .address {
  margin-top: 10px;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}
.icon-location {
  float: left;
}
.listing-address {
  float: left;
}
.listing-address span {
  padding-left: 40px;
}
.card.image,
.card.mini {
  margin: 16px 8px;
}
@media (min-width: 480px) {
  .card.image,
  .card.mini {
    margin: 16px 32px;
  }
}
.card.mini {
  width: 200px;
}
.card.mini .website-link,
.card.mini .card-links,
.card.mini .wifi,
.card.mini .accessibility {
  display: none;
}
.card.mini .title {
  font-size: 17px;
  padding: 10px 16px;
}
.card.mini .subtitle {
  font-size: 14px;
}
.card.mini .description {
  font-size: 12px;
}
.card.mini .more-link {
  margin: 0 12px 12px 12px;
}
.card.mini .page-content {
  padding: 12px 12px 0;
  margin-bottom: 0px;
}
.card.mini .right-half {
  width: 100%;
  padding-left: 0;
  float: none;
}
.card.mini .left-half {
  width: 100%;
  padding-right: 0;
  float: none;
}
.card.mini .long-description {
  display: none;
}
.alert.alert-warning {
  background-color: #6B1313;
  padding: 16px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.alert li {
  padding-left: 48px;
}
.alert p {
  margin-bottom: 10px;
  color: white;
}
footer.site-footer {
  background: #3e473f;
  background: -webkit-radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  background: -o-radial-gradient(top left, ellipse, #647366 0%, #3e473f 57%);
  background: radial-gradient(ellipse at top left, #647366 0%, #3e473f 57%);
  color: #bec6bf;
}
footer.site-footer h4 {
  padding: 46px 46px 0 46px;
  font-size: 1.6em;
}
.sitemap {
  padding: 16px 46px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-column-rule-color: #ccc;
     -moz-column-rule-color: #ccc;
          column-rule-color: #ccc;
  -webkit-column-rule-style: solid;
     -moz-column-rule-style: solid;
          column-rule-style: solid;
  -webkit-column-rule-width: 1px;
     -moz-column-rule-width: 1px;
          column-rule-width: 1px;
}
@media (max-width: 480px) {
  .sitemap {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.credits {
  padding: 16px 46px;
}
.social:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.icon-facebook:hover {
  color: #3B5998;
}
.icon-twitter:hover {
  color: #4099FF;
}
.icon-googleplus:hover {
  color: #d34836;
}
.icon-email:hover {
  color: #f39c12;
}
.vc_separator h4 {
  font-size: 1.4em !important;
}
/*# sourceMappingURL=base.css.map */
