footer.site-footer {
	.bg-green-dark;
	color:lighten(@bg-green-dark, 50);
		h4 {
			padding: @proper-padding-2x @proper-padding-2x 0 @proper-padding-2x;
			font-size: 1.6em;
		}
}

.sitemap{
	padding:@proper-padding @proper-padding-2x;
	column-count: 3;
	column-gap: 20px;
	column-rule-color:  #ccc;
	column-rule-style:  solid;
	column-rule-width:  1px;
		@media (max-width: @screen-xs){
	        column-count:1;
        }
}

.widgets{}

.credits{
	padding:@proper-padding @proper-padding-2x;
}

.social:hover {
	transform:scale(1.1);
}
.social {
	transform:scale(0.8);
	transition-duration: 0.5s;
}
.icon-facebook:hover {
	color: #3B5998;
}
.icon-twitter:hover {
	color: #4099FF;
}
.icon-googleplus:hover {
	color: #d34836;
}
.icon-email:hover {
	color: #f39c12;
}

//----} .site-footer