
.caption {
	position:relative;
	line-height:1em;
	top:-2em;
	padding-right:10px;
	text-align:right;
	text-shadow:2.5px 3px 4px rgb( 0, 0, 0 );
}

figure {
	margin-bottom: 32px;
		@media (max-width: @screen-xs){
			display:none;
		}
}

.fancy {
	border-bottom:5px solid @bg-brown-dark;
	padding: @proper-padding 0;
	.display(flex);
	.align-items(center);
	.justify-content(center);
	text-align:right;
		@media (max-width: @screen-xs){
			display: block;
			text-align: center;
		}
		h2 {
			.align-self(flex-start);
			padding-top:10px;
			font-size:2.5em;
			line-height:0.6em;
				span {
					font-size:0.7em;
				}
		}
		h1 {
			font-size:5em;
			padding:0 @proper-padding;
			text-shadow: 1px 1px 7px rgba(0,0,0,0.65);
		}
		h3{
			font-size:1.5em;
				span {
					font-size:1.3em;
				}
		}
}

.home .page-content {
	font-size: 1.4em;
	line-height: 1.6em;
}

.section-title{
	.bg-pattern;
	font-size:2.5em;
	text-align: center;
	padding: 32px 0;
	color: @bg-brown-dark;
	border-top: 2px solid;
		h2 {
			background: @pale-green;
			padding: 32px;
			margin: 0 32px;
		}
}

@import "../components/_tiles";

.section.featured-listings {
	.bg-green-dark;
	.display(flex);
	.flex-wrap(wrap);
	.align-self(flex-start);
	padding: 32px 0;
		.card.mini {
			margin:9px;
			width: 150px;
				.title {
					font-size: 14px;
					padding: 5px 4px;
					text-align: center;
				}
				.subtitle {
					display:none;
				}
			}
		h3 {
			color: white;
			width:100%;
			padding: 0 9px;
		}
}

.map-big.section {
	.bg-pattern;
	padding:32px;
}