.section.site-header {
    .bg-green-dark;
    color:lighten(@bg-green-dark, 50);
    width:100%;
    .display(flex);
    .flex-direction(row);
    .align-items(center);
    .justify-content(space-between);
    padding:10px 18px;
    @media (max-width: @screen-xs){
            .flex-direction(column);
        }
}

.site-logo{
    .display(flex);
    .flex-direction(row);
        img {
            width:30px;
            height:30px;
            margin-right:8px;
        } //change the need to resize image;
}

h1 {
    font-family:@site-title-font-family;
    font-size:2em;
    line-height:1.2em;
}

a.brand {
    color: lighten(@bg-green-dark, 60);
        span{
            font-size:60%;
            color:lighten(@bg-green-dark, 30);
        }
}

//----} h1

nav.nav-main{
    .display(flex);
    .flex-direction(row);
    .justify-content(space-between);
        a {
            padding: 0 10px;
        }
    @media (max-width: @screen-xs){
        width: 65%;
    }
}



/* first level menu items */
.main-menu > li {
    display: inline-block;
    position: relative;
}


/* sumbenu with transitions */
.main-submenu {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    text-align: left;
    pointer-events: none;
    -webkit-transition: visibility 0s, opacity 0s;
    -moz-transition: visibility 0s, opacity 0s;
    transition: visibility 0s, opacity 0s;
}

.menu-show .main-submenu {
    width: 16em;
    left: 50%;
    margin: 0 0 0 -8em;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: visibility 0s, opacity 0.3s;
    -moz-transition: visibility 0s, opacity 0.3s;
    transition: visibility 0s, opacity 0.3s;
}

.menu-show-below .main-submenu {
    top: 100%;
    padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.menu-nospace-right .main-submenu {
    right: 0;
    left: auto;
}

.menu-nospace-left .main-submenu {
    left: 0;
}

/* last menu item has to fit on the screen */
.main-menu > li:last-child .main-submenu {
    right: 0;
}

/*
arrow: depending on where the menu will be shown, we set
the right position for the arrow
*/

.main-submenu:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.menu-show-below .main-submenu:after {
    bottom: 100%;
    margin-bottom: -10px;
}

.main-submenu:after {
    border-color: transparent;
    border-width: 16px;
    margin-left: -16px;
    left: 50%;
}

.menu-show-below .main-submenu:after {
    border-bottom-color: #688373;
}

.main-submenu > li {
    display: block;
    background: #688373;
}

.main-submenu > li.search {
    padding: 5px 2.3em 5px 0.6em;
}
.main-submenu > li > a {
    padding: 5px 2.3em 5px 0.6em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
    display: block;
    position: relative;
    color: #fff;
    border: 4px solid #688373;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.main-submenu > li > a:hover,
.main-submenu > li > a:active {
    background: #5B6B5E;
}

/* the icons (main level menu icon and sublevel icons) */
.main-submenu li a:before,
.main-menu > li > a:before {
    font-family: 'townscape-iconic';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    margin-right: 0.6em;
    -webkit-font-smoothing: antialiased;
}

.main-submenu li a:before {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.5em;
}

.main-menu > li > a:not(:only-child):before {
    content: "\f0c9"; //link to menu icon
    font-size: 60%;
    opacity: 0.3;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #main-menu{
    display: block;
}

/* Media Queries */
@media screen and (max-width: 55.6875em) {
    .main-menu {
        font-size: 80%;
    }
}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

    .main-menu {
        font-size: 100%;
        position: relative;
        text-align: center;
        padding: 0;
        top: auto;
        display: none;
    }

    .main-menu > li {
        display: block;
        margin: 0;
        border-bottom: 4px solid #5B6B5E;
    }

    .main-menu > li:first-child {
        border-top: 4px solid #5B6B5E;
    }

    li.menu-show > a,
    .no-touch .main-menu > li > a:hover,
    .no-touch .main-menu > li > a:active {
        color: #fff;
        background: #5B6B5E;
    }

    .main-submenu {
        position: relative;
        display: none;
        width: 100%;
    }

    .main-submenu > li {
        padding: 0;
    }

    .main-submenu > li > a {
        padding: 0.6em 2.3em 0.6em 0.6em;
        border: none;
        border-bottom: 2px solid #5B6B5E;
    }

    .main-submenu:after {
        display: none;
    }

    .main-menu .menu-show .main-submenu {
        display: block;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }


}



//----} .site-header

.section.search {
    display:none;
    z-index: 9999;
    height: 0px;
}