.page-image{}

.page-header.section{
    background:rgba(113, 133, 115, 0.6);
    color:@white;
    padding: 32px;
}
    .page-title {
      font-weight:300;
      font-size:3em;
      line-height:0.9em;
    }
    .page-subtitle{
      margin-top:16px;
      padding-left:16px;
      font-weight:400;
      font-size:1.3em;
      line-height:0.9em;
    }
    .page-description{
      background:rgba(113, 133, 115, 1);
      padding:16px;
      margin-top:16px;
      font-weight:600;
      font-size:1.2em;
      line-height:1.6em;
          p { margin-bottom: 30px;}
          p:last-child {margin-bottom: 0}
    }

.sorting.section{
    color:@white;
    line-height: 2em;
    background: #6e7d6f;
    padding: 10px;
    h4 {
        background:@bg-green-light;
        padding-left:@proper-padding;
    }
}