.btn{
	border:none;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	cursor:pointer;
	padding:0;
	display:inline-block;
	margin:0;
	width:100%;
	line-height:60px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:700;
	outline:none;
	position:relative;
    transition:all 0.3s;
}
.btn:after{
	content:'';
	position:absolute;
	z-index:-1;
    transition:all 0.3s;
}
.btn-1{
	color:#fff;
}
.btn-1a:hover, .btn-1a:active{
	color:#FFFFFF;
	background:#6A9161;
}
.btn-tile{
	background:@bg-brown-dark;
	border:4px solid @pale-green;
	line-height:2.2em;
}

.primary-button {
  font-family: "Quattrocento Sans";
  display:inline-block;
  background: #606f61;
  color:white;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 16px 60px 16px 100px;
  transition: all 0.3s;
  .align-items(flex-start);
  text-align: center;
  position: relative;
  margin-bottom: 14px;
}

.primary-button:hover {
  background: #4b564b;
}
.primary-button:before {
  background: #3e473e;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 2;
  font-size: 140%;
  width: 60px;
  font-family: "townscape-iconic";
  content: "\e602";
}

.primary-button.booking-button {
  background: #04367b;
}
.primary-button.booking-button:hover {
  background: darken(#04367b, 10%);
}
.primary-button.booking-button:before {
  background: #06a0dd;
}

.mini .primary-button {
  padding: 16px 18px 16px 72px;
font-size: 15px;
}

.mini .primary-button:before {
line-height: 3;
font-size: 100%;
width: 40px;
content: "\e61c";
}