.card{
  background-color:@pale-green;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
  line-height:1.6em;
  position: relative;

  .page-text{
    background:none;
    color:black;
    padding: 32px 32px 0 32px;
  }
    .page-title {
      font-size:1em;
    }
    .page-description{
      background: rgb(218, 235, 220);
      color: black;
      margin-bottom: 16px;
    }
  .page-header.section{
    background:none;
    color:@black;
    padding: 32px;
  }
  a:hover {
    color: #89A88B;
  }

  .beara-link {
  max-width: 250px;
  text-align: center;
  position: absolute;
  top: -6px;
  left: -6px;
  box-shadow: 3px 2px 6px grey;
  a {
    color:white;
    background-color: @beara_highlight;
    padding: 20px;
    display: block;
  }
  a:hover {
  background-color: lighten(@beara_highlight, 5%);
  }
}
}

.listings.section {
  .bg-pattern;
  @media (min-width: @screen-xs){
    .display(flex);
    .flex-wrap(wrap);
  }
}

.listings .card {
  background-color:white;
}


.card-name {
  font-size: 18px;
  h2 {font-size: 2em}
}

article h2 {
    font-weight:400;
    font-size:3em;
    line-height:1.2em;
  }

.card .page-content {
  padding: 42px 30px 0px 30px;
  width:100%;
  display:inline-block;
}

.page-content .right-half {
  @media (min-width: @screen-xs){
    width: 48%;
    padding-left: 2%;
    float:right;
  }
}
.page-content .left-half {
  @media (min-width: @screen-xs){
    width:48%;
    padding-right:2%;
    float:left;
  }
}

.page-content .long-description {
  border-top: 3px solid #ccc;
  padding-top: 16px;
  clear:both;
}

.page-content .right-half img {
  width:100%;
  height: auto;
}
.card-name .subtitle, .card-name .description {
  padding: 0 16px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  color: #423b30;
  line-height: 1;
  border-bottom:3px solid #ccc;
  border-top:3px solid #ccc;
  padding: 16px;
  margin-bottom:10px;
}
.subtitle {
  font-size: 24px;
  line-height:1;
  color: #333;
  float:left;
  width: 74%;
  margin-bottom: 10px;
}
.wifi, .accessibility {
  float:left;
  width:13%;
}
.description {
  font-size: 16px;
  color: #333;
  line-height: 1.375;
  margin-bottom: 18px;
  clear:both;
}

.card-links i {
  padding-left:22px;
  padding-right: 20px;
  font-size: 18px;
}
.card-links .link {
  font-size: 15px;
  font-family: "Quattrocento Sans";
  color: rgb( 51, 51, 51 );
  line-height: 2.372;
}

.card-links .phone, .card-links .email {
  font-size: 18px;
  color: rgb( 51, 51, 51 );
  line-height: 1.976;
}

.card-links .address {
  margin-top:10px;
  font-size: 15px;
  color: rgb( 51, 51, 51 );
  line-height: 1.2;
}

.icon-location{
  float:left;
}

.listing-address {
  float:left;
  span {
    padding-left: 40px;
  }

}


.card.image, .card.mini {
  margin: 16px 8px;
    @media (min-width: @screen-xs){
      margin: 16px 32px;
    }
}
.card.mini {
  width: 200px;

  .website-link, .card-links, .wifi, .accessibility {
    display:none;
  }
  .title {
    font-size: 17px;
    padding: 10px 16px;
  }
  .subtitle {
    font-size: 14px;
  }
  .description {
    font-size: 12px;
  }
  .more-link {
    margin:0 12px 12px 12px;
  }
  .page-content {
    padding: 12px 12px 0;
    margin-bottom: 0px;
  }
  .right-half {
    width: 100%;
    padding-left: 0;
    float:none;
  }
  .left-half {
    width: 100%;
    padding-right: 0;
    float:none;
  }
  .long-description {
    display:none;
  }
}

