@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'),
      url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
      url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
      url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'),
      url('../fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quattrocentosans-regular-webfont.woff') format('woff'),
      url('../fonts/quattrocentosans-regular-webfont.ttf') format('truetype'),
      url('../fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
      url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quicksand-regular-webfont.woff') format('woff'),
      url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
      url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
      url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quicksand-bold-webfont.woff') format('woff'),
      url('../fonts/quicksand-bold-webfont.ttf') format('truetype'),
      url('../fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
}

@font-face {
      font-family: 'townscape-iconic';
      src:url('../fonts/townscape-iconic.eot') format('embedded-opentype'),
      url('../fonts/townscape-iconic.woff') format('woff'),
      url('../fonts/townscape-iconic.ttf') format('truetype'),
      url('../fonts/townscape-iconic.svg') format('svg');
      font-weight: normal;
      font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
      font-family: 'townscape-iconic';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      margin-right: 0.6px;
      vertical-align: middle;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

span.icon-accessibility:before, .icon-accessibility a:before    { content: "\e614";}
span.icon-accommodation:before, .icon-accommodation a:before    { content: "\e609";}
span.icon-map:before, .icon-map a:before                        { content: "\e60a";}
span.icon-creative:before, .icon-creative a:before              { content: "\e60b";}
span.icon-repairs:before, .icon-repairs a:before                { content: "\e60c";}
span.icon-wellness:before, .icon-wellness a:before              { content: "\e60d";}
span.icon-property:before, .icon-property a:before              { content: "\e60e";}
span.icon-taxis:before, .icon-taxis a:before                    { content: "\e60f";}
span.icon-attractions:before, .icon-attractions a:before        { content: "\e610";}
span.icon-health:before, .icon-health a:before                  { content: "\e611";}
span.icon-information:before, .icon-information a:before        { content: "\e612";}
span.icon-activity:before, .icon-activity a:before              { content: "\e606";}
span.icon-hotel:before, .icon-hotel a:before                    { content: "\e607";}
span.icon-dining:before, .icon-dining a:before                  { content: "\e600";}
span.icon-shopping:before, .icon-shopping a:before              { content: "\e603";}
span.icon-home:before, .icon-home a:before                      { content: "\e604";}
span.icon-images:before, .icon-images a:before                  { content: "\e613";}
span.icon-wifi:before, .icon-wifi a:before                      { content: "\e615";}
span.icon-price:before, .icon-price a:before                    { content: "\e616";}
span.icon-credit:before, .icon-credit a:before                  { content: "\e617";}
span.icon-phone:before, .icon-phone a:before                    { content: "\e618";}
span.icon-email:before, .icon-email a:before                    { content: "\e619";}
span.icon-location:before, .icon-location a:before              { content: "\e61a";}
span.icon-search:before, .icon-search a:before                  { content: "\e605";}
span.icon-earth:before, .icon-earth a:before                    { content: "\e602";}
span.icon-link:before, .icon-link a:before                      { content: "\e601";}
span.icon-discover:before, .icon-discover a:before              { content: "\e608";}
span.icon-arrow-right:before, .icon-arrow-right a:before        { content: "\e61c";}
span.icon-arrow-left:before, .icon-arrow-left a:before          { content: "\e61d";}
span.icon-facebook:before, .icon-facebook a:before              { content: "\e61b";}
span.icon-twitter:before, .icon-twitter a:before                { content: "\e61f";}
span.icon-googleplus:before, .icon-googleplus a:before          { content: "\e61e";}

