.section.tiles {
    .bg-pattern;
    .display(flex);
    .flex-wrap(wrap);
    .align-self(flex-start);
    .justify-content(center);
}

.tile {
    position: relative;
    cursor: pointer;
    margin: 16px;
    width: 216px;
    text-align: center;
    color: @pale-green;
    background: @bg-green-light;
    border-radius: 3px;
    padding: 10px;
    padding-bottom: 16px;
    .display(flex);
    .flex-direction(column);
    .justify-content(space-around);
        h3 {
            font-size: 1.2em;
            text-transform: uppercase;
            padding-top: 16px;
        }
        span {
            font-size: 8em;
        }
        p {
            font-size: 1em;
            padding: 8px 0;
        }
}